@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caladea:ital@1&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nanum+Myeongjo&display=swap");

@import "variables.scss";
@import "_titles";

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  @extend %miniTitle;
}

body {
  font-family: "Besley", serif;
  padding-top: 70px;
}

body > *:not(footer) {
  padding: 0px 110px;
}

header {
  z-index: 1;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0px 140px;
  background-color: white;
  height: 70px;
  display: flex;
  align-items: center;
  nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    ul {
      display: flex;
      text-transform: uppercase;
      font-size: 10px;
      @extend %miniTitle;
      &:first-child {
        li {
          margin-right: 50px;
        }
      }
    }
  }
}

.hero {
  height: 110vh;
  background-image: url("https://images.unsplash.com/photo-1631214499500-2e34edcaccfe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MXxsb1VuYTNJNDQyQXx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=1400&q=60");
  background-size: 100% 100%;
  margin: 0px $sideSpace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 80px;
  h4 {
    @extend %miniTitle;
    color: white;
  }
  h3 {
    font-size: 30px;
    width: 35%;
    text-align: center;
    margin-bottom: 50px;
    color: white;
    opacity: 0.9;
    line-height: 2.5em;
    margin-bottom: 10px;
  }
  a {
    border: 2px solid white;
    background-color: transparent;
    padding: 15px 30px;
    color: white;
    text-align: center;
    @extend %miniTitle;
    transition: color 0.3s linear, background-color 0.3s linear;
    &:hover {
      background-color: white;
      color: slategray;
    }
  }
}

.under-hero {
  display: flex;
  height: 80vh;
  width: 100%;
  margin-bottom: 80px;
  .under-hero__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fbf7f6;
    .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: #414141;
      h3 {
        font-size: 23px;
        text-align: center;
        margin-bottom: 50px;
        font-weight: lighter;
      }
      a {
        border: 1px solid black;
        background-color: transparent;
        padding: 15px 30px;
        text-align: center;
        @extend %miniTitle;
        transition: color 0.3s linear, background-color 0.3s linear;
        &:hover {
          background-color: black;
          color: white;
        }
      }
    }
  }
  img,
  div {
    width: 50%;
  }
}
.book {
  height: 80vh;
  display: flex;
  width: 100%;
  margin-bottom: 80px;
  .wrapper {
    height: 100%;
    background-color: $bg;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    div {
      text-align: center;
      h3 {
        padding-top: 20px;
        font-weight: lighter;
        font-size: 23px;
      }
      h6 {
        @extend %miniTitle;
      }
    }
    a {
      border: 1px solid black;
      background-color: transparent;
      padding: 15px 30px;
      text-align: center;
      @extend %miniTitle;
      transition: color 0.3s linear, background-color 0.3s linear;
      &:hover {
        background-color: black;
        color: white;
      }
    }
  }
  img,
  div {
    width: 50%;
  }
}

.color {
  margin-bottom: 80px;
  .color__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    h6 {
      @extend %miniTitle;
    }
    h3 {
      font-family: "Besley", serif;
      font-weight: lighter;
      font-size: 27px;
      margin-top: 0px;
    }
  }
  .color__content {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    .color__content__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 270px;
        height: 320px;
      }
      a {
        border: 1px solid black;
        background-color: transparent;
        padding: 15px 40px;
        text-align: center;
        @extend %miniTitle;
        transition: color 0.3s linear, background-color 0.3s linear;
        &:hover {
          background-color: black;
          color: white;
        }
      }
    }
  }
}

.gift-cards {
  height: 80vh;
  display: flex;
  width: 100%;
  margin-bottom: 80px;
  .wrapper {
    height: 100%;
    background-color: #dfe8e9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    div {
      text-align: center;
      h3 {
        font-weight: lighter;
        font-size: 23px;
      }
      h6 {
        @extend %miniTitle;
      }
    }
    a {
      border: 1px solid black;
      background-color: transparent;
      padding: 15px 30px;
      text-align: center;
      @extend %miniTitle;
      transition: color 0.3s linear, background-color 0.3s linear;
      &:hover {
        background-color: black;
        color: white;
      }
    }
  }
  img,
  div {
    width: 50%;
  }
}

.inspiration {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
  h6 {
    font-size: 13px;
    @extend %miniTitle;
    font-weight: 400;
  }
  h3 {
    font-size: 35px;
    padding-bottom: 40px;
    font-weight: lighter;
    margin-top: 0;
  }
  line-height: 0px;
  .inspiration__content {
    display: flex;
    .nail-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        margin-bottom: 8px;
      }
      div {
        color: slategray;
      }
    }
    #nail-image1 {
      padding-right: 10px;
    }
    #nail-image2 {
      padding: 0px 10px;
    }
    #nail-image3 {
      padding: 0px 10px;
    }
    #nail-image4 {
      padding-left: 10px;
    }

    .nail-border {
      border-right: 1px solid slategray;
    }
  }
  a {
    margin-top: 30px;
    border: 1px solid black;
    background-color: transparent;
    padding: 25px 30px;
    text-align: center;
    @extend %miniTitle;
    transition: color 0.3s linear, background-color 0.3s linear;
    &:hover {
      background-color: black;
      color: white;
    }
  }
}

.story {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 450px);
  margin-bottom: 80px;
  font-size: 18px;
  .story__img1 {
    grid-column: 1/3;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
  }
  .story__wrapper1 {
    grid-column: 3/5;
    grid-row: 1/2;
    background-color: #f3ede8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h3 {
        font-weight: lighter;
      }
    }
  }
  .story__wrapper2 {
    grid-column: 1/3;
    grid-row: 2/3;
    background-color: #f3ede8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h3 {
        font-weight: lighter;
      }
    }
  }
  .story__img2 {
    grid-column: 3/5;
    grid-row: 2/3;
    width: 100%;
    height: 100%;
  }
  .story__img3 {
    grid-column: 1/3;
    grid-row: 3/4;
    width: 100%;
    height: 100%;
  }
  .story__wrapper3 {
    grid-column: 3/5;
    grid-row: 3/4;
    background-color: #f3ede8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h3 {
        font-weight: lighter;
      }
    }
  }
}
.email {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
  h6 {
    @extend %miniTitle;
  }
  h3 {
    font-weight: lighter;
    text-align: center;
  }
  div {
    margin-top: 30px;
    input {
      width: 600px;
      height: 50px;
      border-style: none;
      border-bottom: 1px solid slategray;
      &::placeholder {
        font-size: 35px;
        color: #9d9d9c;
        font-weight: lighter;
      }
    }
    button {
      width: 30px;
      height: 30px;
      background-color: white;
      border: 1px solid black;
    }
  }
}
.instagram {
  height: 80vh;
  display: flex;
  width: 100%;
  margin-bottom: 200px;
  .wrapper {
    height: 100%;
    background-color: #f9dbbe;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    h6 {
      @extend %miniTitle;
    }
    h3 {
      font-size: 23px;
      font-weight: lighter;
    }

    a {
      border: 1px solid black;
      background-color: transparent;
      padding: 15px 30px;
      text-align: center;
      @extend %miniTitle;
      transition: color 0.3s linear, background-color 0.3s linear;
      &:hover {
        background-color: black;
        color: white;
      }
    }
  }
  img,
  div {
    width: 50%;
  }
}
.image-collection {
  margin-bottom: 80px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 270px);
  img {
    width: 100%;
    height: 100%;
  }
}
.follow {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 27px;
  font-weight: lighter;
  color: slategray;
}

.footer {
  width: 100%;
  background-color: #f3ede8;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 43vh;
  .footer__content {
    width: 33%;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    &:first-child,
    &:nth-child(2) {
      border-right: 1px solid black;
    }
    li {
      display: inline;
      @extend %miniTitle;
      list-style: none;
    }
  }
}
